*,
::after,
::before {
    box-sizing: border-box;
}

footer,
header,
nav {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    a:not([href]):not([tabindex]) {
        color: inherit;
        text-decoration: none;
    }

        a:not([href]):not([tabindex]):focus,
        a:not([href]):not([tabindex]):hover {
            color: inherit;
            text-decoration: none;
        }

        a:not([href]):not([tabindex]):focus {
            outline: 0;
        }

img {
    vertical-align: middle;
    border-style: none;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button {
    border-radius: 0;
}

    button:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }

button,
input,
select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type=submit],
button {
    -webkit-appearance: button;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12,
.col-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-md-10,
.col-md-2,
.col-md-4,
.col-md-5,
.col-md-7,
.col-sm-12,
.col-sm-2,
.col-sm-4,
.col-sm-6,
.col-xl-2,
.col-xl-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

@media (min-width: 992px) {
    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

@media (min-width: 1200px) {
    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }

    .form-control::placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .form-control:disabled {
        background-color: #e9ecef;
        opacity: 1;
    }

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

.form-group {
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    .btn:focus,
    .btn:hover {
        text-decoration: none;
    }

    .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }

    .btn:disabled {
        opacity: .65;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

        .btn:not(:disabled):not(.disabled):active {
            background-image: none;
        }

.collapse {
    display: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 576px) {
    .navbar-expand-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

        .navbar-expand-sm .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

@media print {
    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    body {
        min-width: 992px !important;
    }
}

.fab,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-arrow-up:before {
    content: "\f062";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

.fa-search:before {
    content: "\f002";
}

.fa-snowflake:before {
    content: "\f2dc";
}

.fa-telegram:before {
    content: "\f2c6";
}

.fa-viber:before {
    content: "\f409";
}

.fa-vk:before {
    content: "\f189";
}

.fa-volume-up:before {
    content: "\f028";
}

.fa-whatsapp:before {
    content: "\f232";
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.far {
    font-weight: 400;
}

.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fas {
    font-weight: 900;
}


.captcha_block {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 48%;
}

.captcha_img {
    margin-right: 20px;
}

#callback input[type="text"] {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid;
    color: white;
    padding-left: 0px;
    text-shadow: 1px 1px 5px grey;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    color: black;
    background: #fbfbfb;
    ;
    font-size: 18px;
    font-family: "ProximaNova-Light";
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: ProximaNova-Bold;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.head {
    flex: 1 0 auto;
}

.header_logo {
    width: 180px;
}

footer {
    flex: 0 0 auto;
}

img {
    max-width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        color: black;
    }

header {
    min-height: 50px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px grey;
    margin-bottom: 40px;
}

.content {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}

.padb-15 {
    padding-bottom: 15px;
}

.center {
    text-align: center;
}

header .header_bottom_border {
    border-bottom: 1px solid #e5e5e5;
}

header .header_top {
    padding: 15px;
}

#agree {
    text-align: justify;
    display: none;
}

.red_btn {
    border-radius: 19px;
    background-color: #c73335;
    color: white !important;
    padding: 7px 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-family: ProximaNova-Bold;
    margin-bottom: 5px;
}

.address_link {
    vertical-align: middle;
    width: 100%;
    display: block;
    text-align: right;
}

    .address_link i {
        margin-right: 10px;
        vertical-align: middle;
    }

.modal_phone_call {
    margin-left: 15px;
}

.red_btn:hover,
.red_btn:active,
.red_btn:focus {
    color: white !important;
    background-color: black;
    cursor: pointer;
}

header .header_top .header_top_address {
    width: 43%;
}

header .header_top .header_top_phone {
    width: 56%;
}

header .header_top .header_top_address,
header .header_top .header_top_phone {
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

    header .header_top .header_top_phone a {
        font-size: 25px;
        padding-right: 3px;
    }

.header_top_menu {
    list-style: none;
    margin-bottom: 0px;
    width: 100%;
}

    .header_top_menu li {
        display: inline-block;
        margin-right: 2%;
    }

        .header_top_menu li a {
            display: block;
            padding: 15px 0px;
            border-bottom: 2px solid transparent;
        }

            .header_top_menu li a.selected, .header_top_menu li a:hover {
                border-bottom: 2px solid #c73335;
            }

.mobile_btn {
    display: none;
}

header .header_menu .language_links {
    text-align: right;
}

    header .header_menu .language_links a {
        display: inline-block;
        padding: 15px 15px 15px 5px;
        font-family: "ProximaNova-Bold";
    }

        header .header_menu .language_links a:hover, header .header_menu .language_links a.active {
            color: #c73335;
        }

header .header_top .col-lg-5.col-sm-6.col-12 {
    padding-left: 0px;
}

footer {
    background-color: #2c2c2c;
    color: white;
    margin-top: 50px;
    padding: 25px 0px 10px 0px;
}

    footer .content {
        padding: 15px;
    }

    footer a, footer a:active, footer a:focus {
        color: white;
    }

        footer a:hover {
            color: #c73335 !important;
            cursor: pointer;
        }

h1 {
    margin: 0.9rem 0;
}

.transparent_btn {
    border: 1px solid #c73335;
    border-radius: 50px;
    padding: 15px 35px;
    display: inline-block;
    font-family: ProximaNova-Bold;
    background: transparent;
}

    .transparent_btn:hover, .transparent_btn:focus, .transparent_btn:active {
        background-color: #c73335;
        color: white;
    }

.content-area a {
    color: #c73335;
    font-weight: bold;
}

.bg_main .content {
    padding: 100px 15px;
    padding-bottom: 0px;
}

    .bg_main .content h1 {
        font-size: 60px;
        width: 40%;
    }

        .bg_main .content h1 span {
            display: block;
            font-size: 40px;
        }

.bg_form .content {
    padding: 120px 15px;
    color: white !important;
    text-shadow: 1px 1px 5px grey;
    font-size: 19px;
}

    .bg_form .content .mobile_link {
        color: white;
        font-size: 40px;
    }

        .bg_form .content .mobile_link:hover {
            color: #c73335;
        }

    .bg_form .content h2 {
        font-size: 50px;
        width: 80%;
        margin-top: -10px;
    }

.bg_about .content {
    padding: 150px 15px;
}

    .bg_about .content .banner_item {
        display: inline-block;
        width: auto;
        margin-right: 100px;
        vertical-align: middle;
    }

        .bg_about .content .banner_item img {
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
        }

        .bg_about .content .banner_item p {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
        }

    .bg_about .content h2 {
        font-size: 50px;
    }

.bg_form .transparent_btn {
    color: white;
}

.bg_footer_text .content {
    padding: 100px 15px;
}

    .bg_footer_text .content p {
        margin-bottom: 10px;
    }

.bold {
    font-weight: bold;
    font-family: ProximaNova-Bold;
}

#to-top {
    width: 60px;
    background: #c73335;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 35px;
    right: 70px;
    cursor: pointer;
    color: white;
    display: none;
    font-size: 33px;
    border-radius: 114px;
}

.red {
    color: #c73335 !important;
}

.mobile_link:hover, .address_link:hover {
    color: #c73335;
}

.catalog_list.content {
    padding: 50px 15px;
}

.catalog_list .catalog_wrap {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    margin-bottom: 30px;
}

    .catalog_list .catalog_wrap .catalog_item {
        border-bottom: 1px solid #e5e5e5;
        background-color: white;
    }

        .catalog_list .catalog_wrap .catalog_item:hover {
            box-shadow: 0px 3px 10px grey;
            z-index: 2;
            position: relative;
        }

        .catalog_list .catalog_wrap .catalog_item .catalog_img, .catalog_list .catalog_wrap .catalog_item .catalog_about, .catalog_list .catalog_wrap .catalog_item .catalog_tarifs, .catalog_list .catalog_wrap .catalog_item .catalog_more {
            padding: 20px;
        }

        .catalog_list .catalog_wrap .catalog_item .catalog_more {
            background-color: #f3f1f0;
        }

        .catalog_list .catalog_wrap .catalog_item .catalog_tarifs .col_name {
            font-size: 12px;
            line-height: 24px;
            color: rgb(129,129,129);
            font-family: ProximaNova-Bold;
            font-weight: bold;
        }

        .catalog_list .catalog_wrap .catalog_item .catalog_tarifs .col_value {
            font-size: 19px;
        }

        .catalog_list .catalog_wrap .catalog_item .catalog_tarifs h4 {
            margin-bottom: 20px;
        }

        .catalog_list .catalog_wrap .catalog_item .catalog_about {
            margin-top: 15px;
            margin-bottom: 15px;
            border-left: 1px solid #e5e5e5;
            padding: 15px 13px;
        }

            .catalog_list .catalog_wrap .catalog_item .catalog_about img {
                height: 20px;
                margin-right: 2px;
            }

        .catalog_list .catalog_wrap .catalog_item .catalog_more {
            text-align: center;
            font-size: 24px;
            line-height: 24px;
            color: black;
            font-family: ProximaNova-Bold;
            font-weight: bold;
        }

            .catalog_list .catalog_wrap .catalog_item .catalog_more a {
                padding: 5px;
                font-size: 15px;
                width: 80%;
                text-align: center;
                display: inline-block;
                margin-top: 10px;
            }

        .catalog_list .catalog_wrap .catalog_item .catalog_about .catalog_about_info {
            font-size: 15px;
            padding: 10px 0px;
            text-align: center;
        }

.catalog_about_info .far, .catalog_about_info .fas {
    font-size: 25px;
    color: #717171;
}

.catalog_list .catalog_wrap .catalog_item .catalog_img {
    text-align: center;
}

.tab {
    display: none;
}

    .tab.active {
        display: inline-block;
    }

.bg_main .header_top_menu li a.catalog_tab_item {
    padding: 20px;
    color: white;
}

.bg_main .header_top_menu li {
    margin-right: 0px;
}

.search_form {
    display: inline-block;
    background-color: #2a3451;
    color: white !important;
    padding: 30px;
}

    .search_form .header_top_menu li a.selected, .search_form .header_top_menu li a:hover {
        background-color: #3a476c;
    }

    .search_form form {
        padding: 30px 0px;
        background-color: #3a476c;
    }

    .search_form li.menu_item {
        float: left;
    }

    .search_form .fas {
        margin-left: 20px;
        font-size: 18px;
        padding: 10px;
        vertical-align: middle;
        cursor: pointer;
        background-color: #2a3451;
        border-radius: 5px;
        margin-right: 20px;
    }

        .search_form .fas:hover, .search_form .fas:focus, .search_form .fas:active {
            box-shadow: 0 0 0 0.2rem #c73335;
        }

.bg_main .form-group {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 0px;
}

.bg_main select.form-control {
    border-radius: 5px;
    background-color: #2a3451 !important;
    border: none;
    color: white;
    padding: 5px 15px;
    width: 250px;
}

    .bg_main select.form-control option {
        padding: 25px 15px;
    }

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #c73335;
}

.form-group a {
    color: #c73335 !important;
    font-family: ProximaNova-Bold !important;
}

@media (max-width:1400px) {
    .br {
        display: block;
    }
}

@media (max-width:1200px) {
    body {
        font-size: 15px;
    }

    header .header_top .header_top_phone a {
        font-size: 20px;
    }

    .bg_form .content .mobile_link {
        font-size: 35px;
    }

    .bg_form .content h2 {
        font-size: 42px;
        width: 95%;
    }

    .bg_form .content {
        padding: 70px 15px;
    }

    .bg_footer_text .content {
        padding: 50px 15px;
    }

    .catalog_list .catalog_wrap .catalog_item {
        text-align: center;
    }

        .catalog_list .catalog_wrap .catalog_item .catalog_about {
            border-left: none;
        }

    .bg_main .content h1 {
        width: 50%;
    }
}

@media (max-width:992px) {
    .hidden-md {
        display: none;
    }

    header .header_top .header_top_address, header .header_top .header_top_phone {
        padding-top: 0px;
    }

    .header_logo {
        width: 135px;
    }

    .bg_form .content {
        font-size: 15px;
    }

        .bg_form .content .mobile_link {
            font-size: 25px;
        }

    .bg_main .content h1 {
        width: 70%;
    }
}

@media (max-width:840px) {
    header .header_top .header_top_address, header .header_top .header_top_phone {
        display: block;
        width: 100%;
        text-align: right;
    }

    header .header_top .header_top_address {
        display: none;
    }

    .address_link i {
        display: none;
    }

    .modal_phone_call {
        margin-left: 5px;
    }

    .bg_about .content .banner_item {
        display: block;
        padding-bottom: 15px;
    }

    .bg_about .content {
        padding: 130px 15px;
    }

        .bg_about .content .banner_item br {
            display: none;
        }
}

@media (max-width:767px) {
    header .header_top .modal_phone_call {
        display: none;
    }

    header .header_menu .language_links a {
        padding: 15px 5px;
    }

    .header_top_menu {
        padding-left: 5px;
    }

        .header_top_menu li {
            margin-right: 1%;
        }

    header .header_menu .language_links {
        text-align: center;
    }

    .bg_form .content .mobile_link {
        font-size: 33px;
    }

    .bg_form .content h2, .bg_about .content h2 {
        font-size: 33px;
        width: 100%;
    }

    .bg_form .content {
        text-align: center;
    }

    .bg_about .content {
        padding: 100px 15px;
        text-align: center;
    }

        .bg_about .content .banner_item {
            font-size: 20px;
            font-weight: bold;
            margin-right: 0px;
        }

    .transparent_btn {
        width: 100%;
        color: white;
        background-color: #c73335;
    }

    .catalog_list .catalog_wrap .catalog_item .catalog_more a {
        display: block;
        width: 100%;
    }

        .catalog_list .catalog_wrap .catalog_item .catalog_more a.red_btn {
            color: white;
            background-color: black;
        }

    .bg_main .content h1 {
        width: 100%;
        font-size: 40px;
    }

    .bg_main {
        background-image: none;
    }

    .search_form .header_top_menu {
        padding: 0px !important;
    }

    .search_form li.menu_item {
        float: none;
        display: block;
    }

    .search_form .header_top_menu li a.selected, .search_form .header_top_menu li a:hover {
        border: none;
    }

    .search_form {
        display: block;
    }

    .bg_main .form-group {
        display: block;
        background-image: url('../ikon/opzii.png');
        width: 100%;
        padding-bottom: 20px;
        margin-left: 0px;
    }

    .bg_main select.form-control {
        width: 90%;
        margin: 0 auto;
    }

    .search_form .fas {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 90%;
        background: #c73335;
    }
}

@media (max-width:576px) {
    footer .mobile_icons {
        padding-bottom: 15px;
    }

    h1 {
        font-size: 30px;
    }

    .red_btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .header_menu.container-fluid .col-md-10.col-sm-12 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .header_top, header .header_top .header_top_phone, header .header_menu .language_links {
        text-align: center;
    }

    header .header_top .header_top_phone {
        padding-top: 10px;
    }

        header .header_top .header_top_phone a {
            font-size: 25px;
        }

    .header_logo {
        width: auto;
    }

    .header_top_menu {
        padding-left: 0px;
    }

        .header_top_menu li {
            display: block;
            text-align: center;
            margin-right: 0;
        }

            .header_top_menu li a {
                border-bottom: none;
                font-size: 18px;
            }

                .header_top_menu li a.selected, .header_top_menu li a:hover {
                    background-color: #c73335;
                    color: white;
                    border-bottom: none;
                }

    .mobile_btn {
        width: 100%;
        text-align: center;
        background-color: black;
        color: white;
        display: block;
        padding: 15px;
        cursor: pointer;
        font-size: 18px;
    }

    header .header_menu .language_links a {
        padding: 15px 20px;
    }

    footer, footer .address_link {
        text-align: center;
        font-size: 22px;
    }

    .mobile_icons {
        display: block;
    }

    .red_btn, .transparent_btn {
        display: block;
    }
}

.hystmodal__shadow {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}

.hystmodal__shadow {
    border: none;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 98;
    opacity: 0;
    transition: opacity .15s ease;
    background-color: #000;
}

footer {
    margin-top: 0px;
}

header {
    margin-bottom: 0px;
}

/*jdiv, jdiv * {
    font-family: system-ui,-apple-system,Arial,sans-serif;
}

    jdiv * {
        font-feature-settings: normal !important;
        box-sizing: border-box !important;
    }

div#jivo-iframe-container {
    backface-visibility: hidden;
    background: transparent !important;
    bottom: 0 !important;
    height: 0 !important;
    margin: 0;
    max-height: 100% !important;
    min-height: 0 !important;
    overflow: hidden !important;
    padding: 0;
    position: fixed !important;
    top: auto;
    transition: none;
    width: 0 !important;
}

iframe#jivo_container {
    background: transparent !important;
    bottom: 0 !important;
    display: block !important;
    height: 0 !important;
    opacity: 0;
    position: relative !important;
    top: 0 !important;
    visibility: hidden;
    width: 0 !important;
    z-index: 0 !important;
}*/

.globalClass_a0be a {
    clip: auto !important;
    word-wrap: normal !important;
    zoom: normal !important;
    animation: 0s none !important;
    backface-visibility: visible !important;
    background: none !important;
    border: 0 !important;
    bottom: auto !important;
    box-shadow: none !important;
    caption-side: top !important;
    clear: none !important;
    cursor: auto !important;
    direction: ltr !important;
    display: inline !important;
    filter: none !important;
    flex: none !important;
    font-style: normal !important;
    font-weight: 400 !important;
    height: auto !important;
    -webkit-hyphens: manual !important;
    hyphens: manual !important;
    image-rendering: auto !important;
    justify-content: flex-start !important;
    left: auto !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    margin: 0 !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    -o-object-fit: fill !important;
    object-fit: fill !important;
    opacity: 1 !important;
    order: 1 !important;
    orphans: 2 !important;
    outline: 0 none !important;
    overflow: visible !important;
    padding: 0 !important;
    perspective: none !important;
    pointer-events: auto !important;
    position: static !important;
    resize: none !important;
    right: auto !important;
    text-align: left !important;
    text-decoration: none !important;
    text-indent: 0 !important;
    text-overflow: clip !important;
    text-shadow: none !important;
    text-transform: none !important;
    top: auto !important;
    transform: none !important;
    transition: all 0s ease 0s !important;
    unicode-bidi: normal !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    user-select: auto !important;
    vertical-align: baseline !important;
    white-space: normal !important;
    width: auto !important;
    word-break: normal !important;
    word-spacing: normal !important;
    z-index: auto !important;
}

.globalClass_a0be a {
    -webkit-text-size-adjust: inherit !important;
}

    .globalClass_a0be a * {
        cursor: pointer !important;
    }

.globalClass_a0be:after, .globalClass_a0be:before {
    content: none;
    pointer-events: all;
}

jdiv {
    clip: auto;
    word-wrap: normal;
    zoom: normal;
    font-feature-settings: normal !important;
    -webkit-text-size-adjust: inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: currentColor;
    animation: 0s none;
    backface-visibility: visible;
    background: none;
    border: 0;
    bottom: auto;
    box-shadow: none;
    box-sizing: border-box;
    caption-side: top;
    clear: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    filter: none !important;
    flex: none;
    font-weight: 400;
    height: auto;
    -webkit-hyphens: manual;
    hyphens: manual;
    image-rendering: auto;
    justify-content: flex-start;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    -o-object-fit: fill;
    object-fit: fill;
    opacity: 1;
    order: 1;
    orphans: 2;
    outline: 0 none;
    overflow: visible;
    padding: 0;
    perspective: none;
    pointer-events: all;
    position: static;
    resize: none;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transition: all 0s ease 0s;
    unicode-bidi: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: baseline;
    white-space: normal;
    width: auto;
    word-break: normal;
    word-spacing: normal;
    z-index: auto;
}

    jdiv:after, jdiv:before {
        box-sizing: inherit;
        pointer-events: all;
    }

.pseudoHeight_b3e8 {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: auto;
}

jdiv.jivoMouseTrack_c1a1 {
    -webkit-touch-callout: none !important;
    background-color: transparent !important;
    bottom: 0 !important;
    display: none;
    height: auto !important;
    left: -300px !important;
    max-height: none !important;
    opacity: 0 !important;
    position: fixed !important;
    right: -300px !important;
    top: -200px !important;
    transform: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
    width: auto !important;
    z-index: 2147483647 !important;
}

.wrap_a219 {
    -webkit-touch-callout: none !important;
    bottom: auto !important;
    direction: ltr !important;
    display: none;
    height: 70px;
    left: 0 !important;
    max-height: none !important;
    overflow: visible;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.closeButton_a2d5 {
    cursor: pointer !important;
    display: block;
    height: 23px !important;
    margin-left: -34px !important;
    margin-top: 0 !important;
    opacity: 1;
    overflow: visible !important;
    transition: opacity .3s cubic-bezier(.39,.24,.21,.99) !important;
    transition-delay: .3s;
    width: 23px !important;
}

.closeIcon_e5c5 {
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 28px;
    opacity: .85;
    width: 28px;
}

    .closeIcon_e5c5:hover {
        opacity: 1;
    }

.leaf_c898 {
    height: 33px;
    overflow: hidden;
    position: absolute;
    width: 32px;
    z-index: 6;
}

    .leaf_c898._bottom_ee07 {
        border-radius: 0 24px 0 0 !important;
        right: 0;
        top: 0;
        width: 33px;
    }

        .leaf_c898._bottom_ee07 .cssLeaf_af3e {
            height: 34px !important;
            overflow: visible;
            position: absolute;
            right: 0;
            top: 0;
            width: 32px !important;
        }

.logo_d5a7 {
    display: block;
    position: relative;
}

    .logo_d5a7 .fallback_c95f {
        display: none;
        visibility: hidden;
    }

    .logo_d5a7._bottom_b1a5 .hoverBox_e6a4 {
        background-color: transparent;
        bottom: -5px;
        height: 48px;
        left: -10px;
        max-height: 38px !important;
        right: -10px;
        top: -20px;
    }

.hoverBox_e6a4 {
    background: transparent;
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.logoIcon_c74c {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 18px;
    width: 51px;
}

    .logoIcon_c74c.__ru_a316 {
        width: 27px;
    }

.copyright_b497 {
    background-color: #414243;
    border-radius: 4px !important;
    box-shadow: 0 0 12px 3px rgba(0,0,0,.17);
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px !important;
    padding: 0 16px !important;
    position: absolute;
}

    .copyright_b497._bottom_a24e {
        bottom: 50px;
        right: 45px;
    }

        .copyright_b497._bottom_a24e.__ru_ddac {
            right: 37px;
        }

        .copyright_b497._bottom_a24e:after {
            background: transparent;
            bottom: -10px;
            content: "" !important;
            display: block;
            height: 10px;
            left: 0;
            right: 0;
        }

.logoIcon_fd08 {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 51px;
}

jdiv a.link_b718 {
    color: currentColor;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    height: 18px !important;
    line-height: 18px !important;
    margin: 11px 0 4px 2px !important;
    transition: none !important;
    vertical-align: top !important;
    white-space: nowrap !important;
    width: auto !important;
}

    jdiv a.link_b718.__ru_ddac {
        margin: 10px 0 4px !important;
    }

        jdiv a.link_b718.__ru_ddac .logoIcon_fd08 {
            margin-top: -1px;
            width: 27px !important;
        }

    jdiv a.link_b718:hover, jdiv a.link_b718:visited {
        color: currentColor;
    }

    jdiv a.link_b718 .logoIcon_fd08 {
        margin-left: 2px;
        vertical-align: top !important;
    }

        jdiv a.link_b718 .logoIcon_fd08:hover {
            cursor: pointer !important;
        }

.text_f228 {
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: default !important;
    display: inline-block !important;
    font-size: 13px !important;
    font-weight: 400;
    line-height: 40px !important;
    transform: translateZ(0) !important;
    vertical-align: middle !important;
    white-space: nowrap;
}

.corner_cf92 {
    height: 0;
    position: absolute;
    width: 0;
}

._bottom_a24e .corner_cf92 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #414243;
    bottom: -4px;
    right: 10px;
}

.label_f01e {
    backface-visibility: hidden;
    box-shadow: 0 12px 14px 8px rgba(0,0,0,.17);
    display: block;
    filter: blur(0);
    height: 40px;
    opacity: 0;
    position: fixed;
    z-index: 2147483648;
}

    .label_f01e.__show_cd2f {
        opacity: 1;
    }

    .label_f01e:hover {
        cursor: pointer;
    }

    .label_f01e .leafCont_f8e9 {
        position: absolute;
    }

    .label_f01e._bottom_d5d6 {
        border-top-left-radius: 8px !important;
        border-top-right-radius: 34px !important;
        min-width: 300px;
    }

    .label_f01e._bottom_d5d6 {
        display: flex;
    }

        .label_f01e._bottom_d5d6 .leafCont_f8e9 {
            right: 0;
            top: 0;
        }

        .label_f01e._bottom_d5d6 .copyContainer_be2a {
            bottom: 0;
            right: 0;
        }

        .label_f01e._bottom_d5d6 .text_eea1 {
            margin: 0 8px 0 16px;
            min-width: 160px;
            transform: translateZ(0);
            visibility: visible;
        }

            .label_f01e._bottom_d5d6 .text_eea1:hover {
                cursor: pointer;
            }

    .label_f01e .text_eea1 {
        -webkit-font-smoothing: antialiased;
        backface-visibility: hidden;
        flex-shrink: 1;
        font: inherit;
        line-height: 40px;
        overflow: hidden;
        text-indent: 0;
        text-overflow: ellipsis;
        vertical-align: top;
        visibility: visible;
        white-space: nowrap;
        z-index: auto !important;
    }

        .label_f01e .text_eea1:hover {
            cursor: pointer;
        }

        .label_f01e .text_eea1._offline_b333 {
            margin-left: 8px;
            min-width: 100px;
        }

    .label_f01e .hoverl_fcb0 {
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
    }

.copy_c5ec {
    display: block;
    float: right;
    height: 18px !important;
    margin-left: auto;
    padding-left: 7px;
    padding-right: 36px;
    padding-top: 10px;
    position: relative;
}

.labelStatus_af1e {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 40px;
    width: 36px;
}

.copy_c5ec:hover ~ .copyContainer_be2a {
    display: block;
}

.copyContainer_be2a {
    display: none;
    position: absolute;
}

    .copyContainer_be2a:hover, .hoverl_fcb0:hover .omnichannel_af44 {
        display: block;
    }

.omnichannel_af44 {
    display: none;
    height: 0;
}

    .omnichannel_af44:after {
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
    }

    .omnichannel_af44.bottom_fbee:after {
        bottom: 40px;
        top: -16px;
    }

.contentTransitionWrap_f339 {
    animation-duration: .15s;
    animation-fill-mode: backwards;
    animation-name: fadeIn_c40e;
    animation-timing-function: ease;
}

.player_eefa {
    opacity: 0;
    overflow: hidden;
}

.player_eefa {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.global_ea3c {
    --jv-grayscale-0: #fff;
    --jv-grayscale-5: #fafbfc;
    --jv-grayscale-10: #f6f8fa;
    --jv-grayscale-15: #f0f3f4;
    --jv-grayscale-20: #eaecef;
    --jv-grayscale-25: #e1e4e8;
    --jv-grayscale-30: #d1d5da;
    --jv-grayscale-35: #c6cbd1;
    --jv-grayscale-40: #959da5;
    --jv-grayscale-45: #6a737d;
    --jv-grayscale-50: #586069;
    --jv-grayscale-55: #444d56;
    --jv-grayscale-60: #3e474f;
    --jv-grayscale-65: #394048;
    --jv-grayscale-70: #343b42;
    --jv-grayscale-75: #2d3339;
    --jv-grayscale-80: #24292e;
    --jv-grayscale-90: #1b1f23;
    --jv-grayscale-100: #000;
    --jv-purple-10: #e9e2ff;
    --jv-purple-20: #c5b5f7;
    --jv-purple-30: #aa8ffd;
    --jv-purple-40: #8865f7;
    --jv-purple-50: #7955ed;
    --jv-purple-60: #6949d5;
    --jv-purple-70: #483095;
    --jv-purple-80: #3b2c6e;
    --jv-blue-10: #e6f0ff;
    --jv-blue-20: #cbdfff;
    --jv-blue-30: #8cb9fe;
    --jv-blue-40: #5397ff;
    --jv-blue-50: #367fee;
    --jv-blue-60: #1c6ae1;
    --jv-blue-70: #1049a1;
    --jv-blue-80: #163b75;
    --jv-azure-10: #e6feff;
    --jv-azure-20: #b8fafe;
    --jv-azure-30: #6ceff6;
    --jv-azure-40: #4ddbe3;
    --jv-azure-50: #1ad3dd;
    --jv-azure-60: #0db9c2;
    --jv-azure-70: #00979f;
    --jv-azure-80: #00656a;
    --jv-jade-10: #d9faec;
    --jv-jade-20: #b4eed6;
    --jv-jade-30: #92edc7;
    --jv-jade-40: #59e0a8;
    --jv-jade-50: #44cd94;
    --jv-jade-60: #34b37e;
    --jv-jade-70: #218f61;
    --jv-jade-80: #156c48;
    --jv-green-10: #d4fce1;
    --jv-green-20: #acfec7;
    --jv-green-30: #7cfaa6;
    --jv-green-40: #29eb6a;
    --jv-green-50: #18c139;
    --jv-green-60: #0ca33e;
    --jv-green-70: #166731;
    --jv-green-80: #124322;
    --jv-yellow-05: #fffbe8;
    --jv-yellow-10: #fcf1cd;
    --jv-yellow-20: #ffe68a;
    --jv-yellow-30: #ffc403;
    --jv-yellow-40: #f0bc00;
    --jv-yellow-50: #ecae04;
    --jv-yellow-60: #de9c02;
    --jv-yellow-70: #d78d04;
    --jv-yellow-80: #8a6117;
    --jv-yellow-90: #383732;
    --jv-red-10: #ffecea;
    --jv-red-20: #fcc8c8;
    --jv-red-30: #fd9597;
    --jv-red-40: #ff5849;
    --jv-red-50: #f94636;
    --jv-red-60: #e13929;
    --jv-red-70: #c91000;
    --jv-red-80: #8e1616;
    --jv-orange-10: #ffe5c3;
    --jv-orange-20: #ffdbac;
    --jv-orange-30: #ffcf90;
    --jv-orange-40: #ffbe6a;
    --jv-orange-50: #ffb454;
    --jv-orange-60: #ffa32d;
    --jv-orange-70: #fa8d00;
    --jv-orange-80: #d26500;
    --jv-steel-80: #303d4a;
    --jv-steel-70: #445669;
    --jv-steel-60: #587088;
    --jv-steel-50: #7189a3;
}

    .global_ea3c.__light_cf6c {
        --jv-tag-text-orange: var(--jv-orange-70);
        --jv-tag-text-yellow: var(--jv-yellow-70);
        --jv-tag-text-jade: var(--jv-jade-70);
        --jv-tag-text-azure: var(--jv-azure-70);
        --jv-tag-text-purple: var(--jv-purple-60);
        --jv-tag-text-blue: var(--jv-blue-60);
        --jv-tag-text-red: var(--jv-red-60);
        --jv-tag-text-green: var(--jv-green-60);
        --jv-tag-text-gray: var(--jv-grayscale-60);
        --jv-tag-background-gradient: linear-gradient(90deg,#ffd772b3,#a6eaffb3 104.87%);
        --jv-tag-background-orange: var(--jv-orange-10);
        --jv-tag-background-yelllow: var(--jv-yellow-10);
        --jv-tag-background-jade: var(--jv-jade-10);
        --jv-tag-background-azure: var(--jv-azure-10);
        --jv-tag-background-purple: var(--jv-purple-10);
        --jv-tag-background-blue: var(--jv-blue-10);
        --jv-tag-background-red: var(--jv-red-10);
        --jv-tag-background-green: var(--jv-green-10);
        --jv-tag-background-gray: var(--jv-grayscale-10);
        --jv-fill-comment-disabled: rgba(255,163,45,.3);
        --jv-fill-comment-hover: var(--jv-orange-70);
        --jv-fill-comment-default: var(--jv-orange-60);
        --jv-fill-secondary-disabled: hsla(210,8%,62%,.3);
        --jv-fill-secondary-hover: var(--jv-grayscale-45);
        --jv-fill-secondary-default: var(--jv-grayscale-40);
        --jv-fill-primary-disabled: hsla(0,0%,100%,.3);
        --jv-fill-primary-hover: var(--jv-grayscale-5);
        --jv-fill-primary-default: var(--jv-grayscale-0);
        --jv-fill-info-disabled: rgba(54,127,238,.3);
        --jv-fill-info-hover: var(--jv-blue-60);
        --jv-fill-info-default: var(--jv-blue-50);
        --jv-fill-danger-disabled: rgba(249,70,54,.3);
        --jv-fill-danger-hover: var(--jv-red-60);
        --jv-fill-danger-default: var(--jv-red-50);
        --jv-fill-success-disabled: rgba(24,193,57,.3);
        --jv-fill-success-hover: var(--jv-green-60);
        --jv-fill-success-default: var(--jv-green-50);
        --jv-button-secondary-text-disabled: rgba(27,31,35,.3);
        --jv-button-secondary-text: var(--jv-grayscale-90);
        --jv-button-secondary-disabled: rgba(225,228,232,.3);
        --jv-button-secondary-active: var(--jv-grayscale-35);
        --jv-button-secondary-hover: var(--jv-grayscale-30);
        --jv-button-secondary-default: var(--jv-grayscale-25);
        --jv-button-icon-fill-disabled: var(--jv-grayscale-40);
        --jv-button-icon-fill-hover: var(--jv-grayscale-75);
        --jv-button-icon-fill-default: var(--jv-grayscale-90);
        --jv-button-outlined-text-accent-disabled: rgba(54,127,238,.3);
        --jv-button-outlined-text-accent: var(--jv-blue-50);
        --jv-button-outlined-text-disabled: var(--jv-grayscale-40);
        --jv-button-outlined-text: var(--jv-grayscale-90);
        --jv-button-outlined-border-outline: var(--jv-grayscale-35);
        --jv-button-outlined-fill-disabled: var(--jv-grayscale-15);
        --jv-button-outlined-fill-active: var(--jv-grayscale-20);
        --jv-button-outlined-fill-hover: var(--jv-grayscale-5);
        --jv-button-outlined-fill-default: var(--jv-grayscale-0);
        --jv-button-primary-info-disabled: rgba(54,127,238,.3);
        --jv-button-primary-info-active: var(--jv-blue-70);
        --jv-button-primary-info-hover: var(--jv-blue-60);
        --jv-button-primary-info-default: var(--jv-blue-50);
        --jv-button-primary-danger-disabled: rgba(249,70,54,.3);
        --jv-button-primary-danger-active: var(--jv-red-70);
        --jv-button-primary-danger-hover: var(--jv-red-60);
        --jv-button-primary-danger-default: var(--jv-red-50);
        --jv-button-primary-success-disabled: rgba(24,193,57,.3);
        --jv-button-primary-success-active: var(--jv-green-70);
        --jv-button-primary-success-hover: var(--jv-green-60);
        --jv-button-primary-success-default: var(--jv-green-50);
        --jv-button-primary-text-disabled: hsla(0,0%,100%,.3);
        --jv-button-primary-text: var(--jv-grayscale-0);
        --jv-icon-info: var(--jv-blue-50);
        --jv-icon-success: var(--jv-green-50);
        --jv-icon-tertiary: var(--jv-grayscale-40);
        --jv-icon-secondary: var(--jv-grayscale-45);
        --jv-icon-primary: var(--jv-grayscale-90);
        --jv-text-tertiary-inverse: var(--jv-grayscale-40);
        --jv-text-secondary-inverse: var(--jv-grayscale-30);
        --jv-text-primary-inverse: var(--jv-grayscale-0);
        --jv-text-link: var(--jv-blue-50);
        --jv-text-tertiary: var(--jv-grayscale-40);
        --jv-text-secondary: var(--jv-grayscale-45);
        --jv-text-primary: var(--jv-grayscale-90);
        --jv-status-background-info: var(--jv-blue-10);
        --jv-status-background-success: var(--jv-green-10);
        --jv-status-background-warning: var(--jv-yellow-05);
        --jv-status-background-danger: var(--jv-red-10);
        --jv-status-info: var(--jv-blue-50);
        --jv-status-success: var(--jv-green-50);
        --jv-status-warning: var(--jv-yellow-40);
        --jv-status-danger: var(--jv-red-50);
        --jv-background-popup: var(--jv-grayscale-0);
        --jv-background-comment: var(--jv-yellow-05);
        --jv-background-border: var(--jv-grayscale-35);
        --jv-background-card: var(--jv-grayscale-15);
        --jv-background-island-inner: var(--jv-grayscale-10);
        --jv-background-island: var(--jv-grayscale-5);
        --jv-background-globe: var(--jv-grayscale-0);
    }

    .global_ea3c.__green_c35e {
        --jv-button-primary-disabled: rgba(24,193,57,.3);
        --jv-button-primary-hover: var(--jv-green-60);
        --jv-button-primary-default: var(--jv-green-50);
        --jv-icon-primary-disabled: rgba(24,193,57,.3);
        --jv-icon-primary-hover: var(--jv-green-60);
        --jv-icon-primary-default: var(--jv-green-50);
    }

@keyframes fadeIn_c40e {
    0% {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/*@font-face {
    font-family: "Font Awesome 5 Brands";
    font-style: normal;
    font-weight: normal;
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.svg#fontawesome) format("svg");
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.svg#fontawesome) format("svg");
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.eot);
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.svg#fontawesome) format("svg");
}

@font-face {
    font-family: "ProximaNova-Light";
    src: url("https://volgocar.ru/local/templates/.default/fonts/ProximaNova-Light.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("https://volgocar.ru/local/templates/.default/fonts/ProximaNova-Bold.otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("https://volgocar.ru/local/templates/.default/fonts/ProximaNova-Bold.otf");
    font-style: normal;
    font-weight: bold;
}*/
/* ------КАБИНЕТ------- */

.header__user .user__button {
    background-color: white; /* Цвет фона кнопки */
    border: 2px solid lightgrey; /* Светло-серый контур */
    box-shadow: none; /* Убираем тень */
    border-radius: 19%; /* Делаем кнопку с закругленными краями */
    padding: 0.1rem; /* Уменьшенный размер кнопки */
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Плавный переход для фона и контура */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 550px;
}

    .header__user .user__button:active {
        border-color: whitesmoke; /* Изменяем цвет контура при нажатии */
    }

    .header__user .user__button:hover {
        background-color: whitesmoke; /* Изменяем цвет фона при наведении */
    }
.user__button {
    background-color: white !important; /* Цвет фона кнопки */
    border: 2px solid lightgrey !important; /* Светло-серый контур */
    box-shadow: none !important; /* Убираем тень */
    border-radius: 19% !important; /* Делаем кнопку с закругленными краями */
    padding: 0.1rem !important; /* Уменьшенный размер кнопки */
    cursor: pointer !important;
    transition: background-color 0.3s ease, border-color 0.3s ease !important; /* Плавный переход для фона и контура */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}
.user__image {
    width: 50px; /* Уменьшенный размер изображения */
    height: 50px; /* Уменьшенный размер изображения */
    border-radius: 50%; /* Делаем изображение круглым */
}

    .user__button:active {
        border-color: whitesmoke !important; /* Изменяем цвет контура при нажатии */
    }

    .user__button:hover {
        background-color: whitesmoke !important; /* Изменяем цвет фона при наведении */
    }


/* -----КОНТЕЙНЕР----- */



/*Styling Selectbox*/


.dropdown {
    position: relative;
    display: inline-block;
}

    .dropdown .select {
        cursor: pointer;
        display: block;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .dropdown.active .dropdown-menu {
        display: block;
    }

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 190px; /* Уменьшаем ширину меню */
    margin-left: 419px;
    margin-top: 20px;
    box-shadow: 0 1px 2px rgb(163, 163, 163);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: none; /* Уменьшаем высоту меню */
    overflow-y: hidden;
    z-index: 9;
    padding: 0;
    list-style: none;
    /*border-radius: 5%;*/
}


    .dropdown-menu li {
        padding: 8px 20px; /* Устанавливаем отступы сверху и снизу 8px, слева и справа 12px */
        transition: all .2s ease-in-out;
        cursor: pointer;
        font-size: 14px; /* Уменьшаем размер шрифта */
    }

        .dropdown-menu li:hover {
            background-color: #f2f2f2;
        }

        .dropdown-menu li:active {
            background-color: #e2e2e2;
        }



/*ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ*/
 /*.car-details-tooltip {
            display: none;
            position: absolute;
            bottom: 100%;*/ /* Position the tooltip above the item */
            /*left: 50%;
            transform: translateX(-50%);
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 0px;
            padding: 10px;*/
        /*     box-shadow: 0px 3px 10px grey; */
            /*z-index: 3;
            width: 800px;*/ /* Увеличение ширины */
       

        /*}*/
            /* Псевдоэлемент для создания треугольника указателя */
            /*.car-details-tooltip::before {
                content: '';
                position: absolute;
                top: 100%;*/ /* Позиционируем его над всплывающим окном */
                /*left: 50%;
                transform: translateX(-50%);
                border-width: 8px;
                border-style: solid;
                border-color: #ccc transparent transparent transparent;*/ /* Цвет треугольника */
            /*}


       .car-details-tooltip {
            display: block;
        }

        .left-details,
        .right-details {
            width: 50%;*/ /* Делим окно на две части */
            /*float: left;
        }

        .right-details {
            padding-left: 50px;*/ /* Добавляем отступ слева для правой части */
        /*}

        .car-details-tooltip p {
            margin: 5px 0;
            font-size: 14px;
            display: flex;*/ /* Для управления расположением элементов */
            /*justify-content: space-between;*/ /* Равномерное распределение пространства между элементами */
        /*}*/

            /* Стили для названий характеристик */
            /*.car-details-tooltip p strong {
                color: #c73335;*/ /* Красный цвет */
                /*font-weight: bold;*/
         
            /*     width: auto; /* Ширина названия характеристики */ 
                /*text-align: left;
   
            }


            .car-details-tooltip p span {
                flex: 1;*/ /* Занимать всё доступное пространство справа */
                /*text-align: right;*/ /* Выравнивание по правому краю */
                /*font-weight: bold;
                color: #555;*/ /* Серый цвет */
                /*position: relative;*/ /* Для корректного отображения псевдоэлемента */
            /*}

                .car-details-tooltip p span::before {
                    content: '..............................................................................................';
                    color: #ccc;*/ /* Цвет пунктира */
                    /*position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    text-align: right;
                    white-space: nowrap;
                    overflow: hidden;
                    z-index: -1;
                }

        .car-details-tooltip h3 {
            margin: 0 0 10px 0;
            font-size: 16px;
            color: #c73335;
            font-weight: bold;
        }*/
