@page
@model webcrp10._2.Pages.RegistrationModel
@{
    ViewData["Title"] = "Регистрация";
}

<title>Регистрация</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- подключаем бутстрап -->
@* <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> *@

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


<style>
    .register-page {
        width: 370px;
        padding: 12% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 380px;
        height: 500px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: left;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    input[type="password"].form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        outline: none;
    }

        input[type="password"].form-control:focus {
            border-color: #c73335;
            box-shadow: 0 0 0 0.2rem #c73335;
        }

    input[type="name"].form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        outline: none;
    }

    input[type="text"].form-control:focus {
        border-color: #c73335;
        box-shadow: 0 0 0 0.2rem #c73335;
    }

    .form-group2 {
        text-align: center;
    }

    .btn-primary {
        background-color: #c73335;
        border-color: #c73335;
    }

        .btn-primary:hover {
            background-color: #a82b2d;
            border-color: #a82b2d;
        }

    .col-md-13 {
        text-align: center;
    }

    .form-group {
        margin-bottom: 30px; /* Примерное значение отступа */
    }

    .form-group2 {
        margin-bottom: 30px; /* Примерное значение отступа */
    }

    p {
        text-align: center;
    }

    a {
        color: #c73335; /* Цвет ссылки по умолчанию */
    }

        a:hover {
            color: #a82b2d; /* Цвет ссылки при наведении на нее */
        }

</style>

<body>
    <!-- вся страница будет в одном контейнере -->
    <div class="register-page">
        <div class="form">
            <div class="container">
                <div class="row">
                    <!-- делаем самую простую вёрстку -->
                    <div class="col-md-12">
                        <div class="col-md-13">
                            <h2>Регистрация</h2>
                            <p>Заполните все поля, чтобы создать новый аккаунт.</p>
                        </div>
                        <form method="post">
                            <!-- поле ввода имени -->
                            <div class="form-group">
                                <label>Логин</label>
                                <input type="text" name="login" class="form-control" required>
                            </div>
                            <!-- поле ввода пароля -->
                            <div class="form-group">
                                <label>Пароль</label>
                                <input  type="password" name="password" class="form-control" required>
                            </div>
                            <!-- кнопка отправки данных на сервер -->
                            <div class="form-group2">
                                <input type="submit" class="btn btn-primary" value="Зарегистрироваться">
                            </div>
                            <!-- вход для тех, у кого уже есть аккаунт -->
                            <p>Зарегистрированы? <a href="Login">Войти</a></p>
                        </form>
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger" role="alert">
                                @Model.ErrorMessage
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @Model.SuccessMessage
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        // Скрывает поле с паролем
        $('.message a').click(function () {
            $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
        });
    </script>
   
</body>

