@page
@model webcrp10._2.Pages.SettingsModel
@{
    ViewData["Title"] = "Настройки";
}
<link rel="stylesheet" type="text/css" href="~/css/STYLEsettings.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Настройки</title>
<body>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/49628701" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <div class="wrapper">
        <div class="head">
            <header>
                <div class="header_bottom_border">
                    <div class="content">
                        <div class="header_top">
                            <div class="row">
                                <div class="col-lg-7 col-sm-6 col-12">
                                    <a href="file:///C:/Users/Home/Desktop/website/index.html">
                                        <img class="header_logo" src="logo/logo1.png" alt="На главную" title="На главную">
                                    </a>
                                    <a class="modal_phone_call red_btn modal-phone-call">
                                        Заказать автомобиль<span class="hidden-md"> сейчас</span>!
                                    </a>
                                </div>
                                <div class="header__user">
                                    <div class="dropdown">
                                        <button class="user__button select">
                                            <img src="ikon/user.png" alt="User" title="Аккаунт" class="user__image">
                                        </button>
                                        <input type="hidden" name="gender">
                                        <ul class="dropdown-menu">
                                            <li id="cabinet">Кабинет</li>
                                            <li id="zayavki">Заявки</li>
                                            <li id="bronirovania">Бронирования</li>
                                            <li id="izbrannoe">Избранное</li>
                                            <li id="settings">Настройки</li>
                                            <li id="exit">Выйти</li>
                                            <script>
                                                document.querySelector('.user__button').addEventListener('click', function () {
                                                    document.querySelector('.dropdown').classList.toggle('active');
                                                });

                                                var cabinetLink = document.getElementById("cabinet");

                                                // Добавляем обработчик события клика
                                                cabinetLink.addEventListener('click', function () {
                                                    // Перенаправляем пользователя на страницу cabinet.html
                                                    window.location.href = "Zayavki";
                                                });
                                                var zayavkiLink = document.getElementById("zayavki");

                                                // Добавляем обработчик события клика
                                                zayavkiLink.addEventListener('click', function () {
                                                    // Перенаправляем пользователя на страницу zayavki.html
                                                    window.location.href = "Zayavki";
                                                });
                                                var bronirovaniyaLink = document.getElementById("bronirovania");

                                                // Добавляем обработчик события клика
                                                bronirovaniyaLink.addEventListener('click', function () {
                                                    // Перенаправляем пользователя на страницу bronirovaniya.html
                                                    window.location.href = "Bronirovania";
                                                });
                                                var izbrannoeLink = document.getElementById("izbrannoe");

                                                // Добавляем обработчик события клика
                                                izbrannoeLink.addEventListener('click', function () {
                                                    // Перенаправляем пользователя на страницу izbrannoe.html
                                                    window.location.href = "Izbrannoe";
                                                });
                                                var settingsLink = document.getElementById("settings");

                                                // Добавляем обработчик события клика
                                                settingsLink.addEventListener('click', function () {
                                                    // Перенаправляем пользователя на страницу settings.html
                                                    window.location.href = "Settings";
                                                });
                                                var exitLink = document.getElementById("exit");

                                                // Добавляем обработчик события клика
                                                exitLink.addEventListener('click', function () {
                                                    // Перенаправляем пользователя на страницу exit.html
                                                    window.location.href = "index";
                                                });
                                            </script>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="header_menu container-fluid">
                        <div class="row">
                            <div class="col-md-10 col-sm-12">

                                <nav class="navbar-expand-sm">
                                    <span class="mobile_btn" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Меню">
                                        Меню
                                    </span>
                                    <div class="collapse navbar-collapse" id="navbar">
                                        <ul itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" class="header_top_menu">
                                            <li itemprop="name" class="menu_item"><a itemprop="url" href="index.html" class="selected">Главная</a></li>
                                            <li itemprop="name" class="menu_item"><a itemprop="url" href="/tarify/">Тарифы</a></li>
                                            <li itemprop="name" class="menu_item"><a itemprop="url" href="/usloviya/">Условия</a></li>

                                        </ul>
                                    </div>


                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </header><div class="bg_main">
                <div class="content">
                    <h2 class="section_title active" href="Zayavki">Заявки</h2>
                    <h2 class="section_title" href="Bronirovania">Бронирования</h2>
                    <h2 class="section_title" href="Izbrannoe">Избранное</h2>


                </div>

                <div class="user_info_container">
                    <!-- Первый блок с информацией пользователя -->
                    <div class="user_infoACC">
                        <img src="ikon/user.png" alt="User" title="Личные данные" class="user__imageacc">
                        <p class="user__text">Личные данные</p>
                        <a href="Kabinet" class="manage_data_btn">Управляйте личными данными</a>
                    </div>

                    <!-- Второй блок с информацией пользователя -->
                    <div class="user_infoACC">
                        <img src="ikon/zamok.png" alt="User" title="Безопасность" class="user__imageacc">
                        <p class="user__text">Безопасность</p>
                        <a href="Security" class="manage_data_btn">Управление настройками безопасности</a>
                    </div>

                    <!-- Третий блок с информацией пользователя -->
                    <div class="user_infoACC">
                        <img src="ikon/opzii.png" alt="User" title="Дополнительные опции" class="user__imageacc">
                        <p class="user__text">Дополнительные опции</p>
                        <a href="Dopozii" class="manage_data_btn">Управление статусом аккаунта</a>
                    </div>
                </div>





@* 
                <script type="text/javascript">
                    (function (d, w, c) {
                        (w[c] = w[c] || []).push(function () {
                            try {
                                w.yaCounter49628701 = new Ya.Metrika2({
                                    id: 49628701,
                                    clickmap: true,
                                    trackLinks: true,
                                    accurateTrackBounce: true,
                                    webvisor: true
                                });
                            } catch (e) {
                            }
                        });

                        var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () {
                                n.parentNode.insertBefore(s, n);
                            };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = "https://mc.yandex.ru/metrika/tag.js";

                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else {
                            f();
                        }
                    })(document, window, "yandex_metrika_callbacks2");
                </script>
                <script type="text/javascript">
                    (function () {
                        var widget_id = 'qTXXGlAFJZ';
                        var d = document;
                        var w = window;

                        function l() {
                            var s = document.createElement('script');
                            s.type = 'text/javascript';
                            s.async = true;
                            s.src = '//code.jivosite.com/script/widget/' + widget_id;
                            var ss = document.getElementsByTagName('script')[0];
                            ss.parentNode.insertBefore(s, ss);
                        }

                        if (d.readyState == 'complete') {
                            l();
                        } else {
                            if (w.attachEvent) {
                                w.attachEvent('onload', l);
                            } else {
                                w.addEventListener('load', l, false);
                            }
                        }
                    })();</script>
                <script>
                    const myModal = new HystModal({
                        catchFocus: true,
                        closeOnEsc: true,
                        backscroll: true,
                    });
                </script>

            </div>
            <button class="hystmodal__shadow"></button>
            <div id="jivo-iframe-container" style="opacity: 0; visibility: hidden; width: 0px; height: 0px; overflow: hidden;">
                <iframe src="" role="presentation" allow="autoplay" title="Jivochat" name="jivo_container" id="jivo_container" frameborder="no">
                </iframe>
            </div> *@

</body>
